<!DOCTYPE html>
<html>
<head>
    <title>Blood Donation App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/request">Post Request</a>
    <a href="/requests">View Requests</a>
    <a href="/login">Login</a>
</div>
<div class="container">
    <h2>🩸 Blood Donation System</h2>

    <p>Save Lives. Donate Blood.</p>

    <br>

    <a href="/register"><button>Register</button></a>
    <a href="/login"><button>Login</button></a>
    <a href="/request"><button>Post Blood Request</button></a>
    <a href="/requests"><button>View Requests</button></a>
</div>

</body>
</html>